:root {
    --general-text: #312C27;
    --general-bg: #FFF9F4;
    --accent-color: #FFA55C;
    --input-color: #ac907a;
    --accent-bg: #FFE0CB;
    --avatar-text: #1F1711;
    --accent--text2: #ceaad0;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-burger {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    /* будет растягивать хэдер и футер в сторону себя */
}

.main__about {
    margin: 140px 0;
}

.main__gallery,
.main__program,
.main__testimonials {
    padding-bottom: 145px;
}



.container {
    max-width: 1310px;
    /* уже добавил 15 пикселей от падинга */
    margin: 0 auto;
    padding: 0 15px;
    /* боковой падинг прибавляется к макс ширене */
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--avatar-text);
}

.button {
    width: 100%;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 16px;
    line-height: 1.0;
    font-weight: 500;
    padding: 3px 15px;
    height: 60px;
    transition: all 0.4s;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.button:hover {
    background: #FF9138;
}

.body--opened-burger .burger-icon span {
    background: transparent;
}

.body--opened-burger .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-burger .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.modal {
    padding: 15px;
    position: fixed;
    inset: 0;
    background: #00000033;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: var(--input-color);
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    color: var(--avatar-text);
    font-family: 'Gabriola';
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 21px;
    font-size: 11px;
    color: var(--input-color);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 20px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}

.field__input:focus {
    padding: 26px 42px 12px 20px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}