.body--opened-burger {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    /* будет растягивать хэдер и футер в сторону себя */
}

.main__about {
    margin: 140px 0;
}

.main__program {
    padding-bottom: 145px;
}

.container {
    max-width: 1310px;
    /* уже добавил 15 пикселей от падинга */
    margin: 0 auto;
    padding: 0 15px;
    /* боковой падинг прибавляется к макс ширене */
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--avatar-text);
}

.button {
    width: 100%;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 16px;
    line-height: 1.0;
    font-weight: 500;
    padding: 3px 15px;
    height: 60px;
    transition: all 0.4s;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.button:hover {
    background: #FF9138;
}

.body--opened-burger .burger-icon span {
    background: transparent;
}

.body--opened-burger .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-burger .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.modal {
    padding: 15px;
    position: fixed;
    inset: 0;
    background: #00000033;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    color: var(--avatar-text);
    font-family: 'Gabriola';
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 21px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 42px 19px 20px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:focus {
    padding: 26px 42px 12px 20px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* *********************************************************************************************************** */
.header {
    background: url("../img/decor/FoneHeader.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    height: 34px;
    width: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all .5s;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__hero {
    padding: 50px 0 140px;
}

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    color: var(--general-text);
    font-family: 'Montserrat';
    margin-bottom: 30px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    max-width: 200px;
    bottom: 11%;
    left: calc(100% - 39px);
    text-align: left;
}

.hero__img-control--mobile {
    display: none;

}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: #FFE0CB;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    inset: 5px;
    border-radius: 50%;
    opacity: 0;
    transition: all .5s;
}

.hero__img-button:hover::before {
    opacity: 1;
}